{% extends 'base.html.twig' %}

{% block title %}Hello EntrepriseController!
{% endblock %}

{% block body %}

	{% if form.valide is defined %}
		{% if form.valide == false %}

			<div class="alert alert-danger h3 mb-3 font-weight-normal" role="alert">
				{{ form.message }}
			</div>

		{% else %}

			<div class="alert alert-success h3 mb-3 font-weight-normal" role="alert">
				{{ form.message }}
			</div>

		{% endif %}
	{% else %}

		<div class="container-fluid">
			<div class="row justify-content-center">
				<h1 class="text-center text-secondary p-4">Liste de mes projets</h1>
			</div>
			<div class="row justify-content-center">
				<div class="col-8 bg-secondary p-4 m-0 text-white">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Nom du projet</th>
								<th scope="col"></th>
								<th scope="col"></th>
                                <th scope="col"></th>
							</tr>
						</thead>
						<tbody>
                        {% for p in projets %}
							<tr>
								<th scope="row">{{p.libelle}}</th>
								<td>	
                                    <div class="btn-group btn-group-lg">
										<a href="index.php?page=listeTache">
											<span class="material-icons">reorder</span>
										</a>
									</div>
                                    </td>
								<td>
									<div class="btn-group btn-group-lg">
										<a href="index.php?page=ajoutTache">
											<span class="material-icons">add</span>
										</a>
									</div>
								</td>
                                <td>
									<div class="btn-group btn-group-lg">
										<a href="index.php?page=ajoutTache">
											<span class="material-icons">warning</span>
										</a>
									</div>
								</td>
							</tr>
                            {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

	{% endif %}

{% endblock %}
